
  <ion-content class="page-background">
    <ion-tabs class="custom-toolbar">
      <ion-tab-bar class="head" slot="top">
        <ion-tab-button class="nav" tab="home">
          <ion-label class="home">Home</ion-label>
        </ion-tab-button>
        <ion-tab-button class="nav" (click)="goToDashboard()">
          <ion-label class="temphum">Temperature/Humidity</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

    <div class="info">
      <h1>Welcome!</h1>
      <h2>RC JACOBE PHARMACY AND MEDICAL SUPPLIES</h2>
      <p>Pharmacy is the health profession that reponsibility for ensuring the safe, and rational use of medicines.
        As such iut polays a vital part in the delivery of health care worldwide.
        however, there remain wide variations in the practice of pharmacy, not only betweeen countries but also within countries
      </p>
    </div>
    <div class="container">
      <div class="copyright">
        <h1>Copyright © 2022 RC Jacobe. All rights reserved</h1>
      </div>
    </div>
  </ion-content>

  
 
